.dialog-container {
  height: 300px;
  width: 600px;
}

.terminalId-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem
}

.terminalId-input-text {
  white-space: nowrap;
  width: 120px;
  font-size: 14px
}

.terminalId-input-field {
  @apply
  tw-bg-gray-200
  tw-appearance-none
  tw-border-2
  tw-border-gray-200 tw-rounded
  tw-py-[5px] tw-px-4 tw-w-full
  tw-text-gray-700 tw-leading-[0] tw-text-[14px]
  focus:tw-outline-none focus:tw-bg-white focus:tw-border-[#3f51b5]
}
