<div class="dashboard-container">

  <div class="dashboard-header-content">
    <mat-card class="card-header-content mat-elevation-z1">
      <span class="card-header-text">Hi {{dataUser.username}}, {{greet}}! 👋</span>
      <button mat-raised-button color="primary" class="card-header-export-button" (click)="exportButtonListener()">
        Export
      </button>
    </mat-card>
  </div>

  <div class="content-1-container">
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="content-1">
      <mat-card fxFlex="25" class="card-content-1-success mat-elevation-z1">
        <transaction-status [status]="'success'"></transaction-status>
      </mat-card>
      <mat-card fxFlex="25" class="card-content-1-declined mat-elevation-z1">
        <transaction-status [status]="'declined'"></transaction-status>
      </mat-card>
      <mat-card fxFlex="25" class="card-content-1-pending mat-elevation-z1">
        <transaction-status [status]="'pending'"></transaction-status>
      </mat-card>
      <mat-card fxFlex="25" class="card-content-1-timeout mat-elevation-z1">
        <transaction-status [status]="'timeout'"></transaction-status>
      </mat-card>
    </div>
  </div>

  <mat-divider class="divider"></mat-divider>

  <div class="content-2">
    <mat-card class="card-content-2 mat-elevation-z1">
      <div class="transaction-rate-chart">
        <h3 style="font-weight: 600; margin-bottom: 15px; font-size: 20px; margin-top: 0">Transaction Rate</h3>
        <transactionRate-widget-chart></transactionRate-widget-chart>
      </div>
    </mat-card>
  </div>

  <mat-divider class="divider"></mat-divider>

  <div class="content-3">
    <mat-card class="card-content-3 mat-elevation-z1">
      <h3 style="font-weight: 600; margin-bottom: 15px; font-size: 20px">Interfaces List</h3>
      <interfaces-list></interfaces-list>
    </mat-card>
  </div>
</div>
