<ag-grid-angular
  style="width: 100%; height: 500px"
  class="ag-theme-alpine"
  rowSelection="single"
  enableCellTextSelection
  suppressDragLeaveHidesColumns
  [animateRows]="true"
  [columnDefs]="terminalTypeTableService.columnDefs"
  [defaultColDef]="terminalTypeTableService.defaultColDef"
  [rowHeight]="40"
  [headerHeight]="40"
  [loadingOverlayComponent]="overlayLoadingTemplate"
  [frameworkComponents]="frameworkComponents"
  (gridReady)="onGridReady($event)"
  (rowClicked)="onCellClicked($event)"
></ag-grid-angular>
