<div class="header-container">
  <div class="header-content">
    <div class="header-logo">
      <span class="header-logo-text">Tapping Management System</span>
    </div>

    <div class="right-content">
      <div class="user-profile">
        <div class="user-details">
          <div class="user-data">
            <span class="user-name">John Lennon</span>
            <span class="user-role">Super Admin</span>
          </div>
          <img src="assets/0.jpg" alt="" class="user-pict" (click)="showDropdownMenu()">
        </div>
        <div class="user-dropdown-menu mat-elevation-z6">
          <div class="user-dropdown-list">
            <div class="user-dropdown-item">
              <a href="">User Profile</a>
            </div>
            <div class="user-dropdown-item">
              <a href="">Session Report</a>
            </div>
            <div class="divider">
              <mat-divider></mat-divider>
            </div>
            <div class="user-dropdown-item">
              <a class="user-dropdown-logout-text" href="">Log Out</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
