<div class="header-content">
  <div class="header-logo">
    <span class="header-logo-text">Tapping Management System</span>
  </div>

  <div class="right-content">
    <div class="user-profile">
      <img src="assets/0.jpg" alt="" class="user-pict">
      <div class="user-dropdown-menu">
        <a href="#" class="user-dropdown-item">
          your profile
        </a>
<!--        <a href="#" class="tw-block tw-px-4 tw-py-2 tw-text-sm tw-capitalize tw-text-gray-700 hover:tw-bg-blue-500 tw-hover:text-white tw-no-underline">-->
<!--          your profile-->
<!--        </a>-->
<!--        <a href="#" class="tw-block tw-px-4 tw-py-2 tw-text-sm tw-capitalize tw-text-gray-700 hover:tw-bg-blue-500 tw-hover:text-white tw-no-underline">-->
<!--          your profile-->
<!--        </a>-->
      </div>
    </div>
  </div>
</div>
