<p-dialog header="Create Terminal Type" [(visible)]="terminalTypeGetSet.showDialog" [modal]="true"
          [style]="{width: '50vw', height: '400px'}" [draggable]="false" [resizable]="false">
  <div class="m-0" [formGroup]="formGroup">
    <div class="field">
      <label for="Description" class="required-icon">Description</label>
      <div style="width: 100%">
        <input id="Description" type="text" pInputText class="terminal-type-description" formControlName="description">
        <p-message *ngIf="description.touched && !description.hasError('required')" severity="success"></p-message>
        <p-message *ngIf="description.touched && description.hasError('required')" severity="error"></p-message>
      </div>
      <small *ngIf="description.touched && description.hasError('required')" class="p-error">Description should be
        fill.</small>
    </div>
    <div class="formgrid grid">
      <div class="field col">
        <label class="required-icon">Terminal Type</label>
        <div style="width: 100%">
          <input type="text" pInputText class="w-10 input-field" formControlName="terminalType">
          <p-message *ngIf="terminalType.touched && !terminalType.hasError('required')" severity="success"></p-message>
          <p-message *ngIf="terminalType.touched && terminalType.hasError('required')" severity="error"></p-message>
        </div>
        <small *ngIf="terminalType.touched && terminalType.hasError('required')" class="p-error">Terminal Type should be
          fill.</small>
      </div>
      <div class="field col">
        <label class="required-icon">Message Template</label>
        <div style="width: 100%">
          <p-dropdown [options]="cities" [filter]="true" filterBy="name" placeholder="Select Message Template"
                      optionLabel="name" [showClear]="showClear" styleClass="msgTemplate" (onChange)="onChange($event)"
                      formControlName="messageTemplate"></p-dropdown>
          <p-message *ngIf="messageTemplate.touched && !messageTemplate.hasError('required')"
                     severity="success"></p-message>
          <p-message *ngIf="messageTemplate.touched && messageTemplate.hasError('required')"
                     severity="error"></p-message>
        </div>
        <small *ngIf="messageTemplate.touched && messageTemplate.hasError('required')" class="p-error">Message Template
          should be
          fill.</small>
      </div>
    </div>
  </div>
  <div class="action-button-group">
    <p-button class="create-button" label="Create" styleClass="p-button-sm"
              (click)="terminalTypeGetSet.showDialog=false"></p-button>
    <p-button class="cancel-button" label="Cancel" styleClass="p-button-sm"
              (click)="terminalTypeGetSet.showDialog=false"></p-button>
  </div>
</p-dialog>
