<h2 mat-dialog-title style="display: flex; align-items: center;justify-content: space-between">
  Create Channel Type
  <span class="bx bx-x" mat-dialog-close="true" style="font-size: 2rem; cursor: pointer"></span>
</h2>
<mat-dialog-content>
  <div class="m-0" [formGroup]="formGroup">
    <div class="field">
      <label for="Description" class="required-icon">Description</label>
      <div style="width: 100%">
        <input id="Description" type="text" pInputText class="terminal-type-description" formControlName="description">
        <p-message *ngIf="description.touched && !description.hasError('required')" severity="success"></p-message>
        <p-message *ngIf="description.touched && description.hasError('required')" severity="error"></p-message>
      </div>
      <small *ngIf="description.touched && description.hasError('required')" class="p-error">Description should be
        fill.</small>
    </div>
    <div class="formgrid grid">
      <div class="field col">
        <label class="required-icon">Channel Type</label>
        <div style="width: 100%">
          <input type="text" pInputText class="w-10 input-field" formControlName="channelType">
          <p-message *ngIf="channelType.touched && !channelType.hasError('required')" severity="success"></p-message>
          <p-message *ngIf="channelType.touched && channelType.hasError('required')" severity="error"></p-message>
        </div>
        <small *ngIf="channelType.touched && channelType.hasError('required')" class="p-error">Channel Type should be
          fill.</small>
      </div>
      <div class="field col">
        <label class="required-icon">Message Template</label>
        <div style="width: 100%;">
          <p-dropdown [filter]="true" [options]="dialectMsgTemplateOptionList" appendTo="body"
                      filterBy="name" placeholder="Select Message Template"
                      optionLabel="name" [showClear]="showClear" styleClass="msgTemplate" (onChange)="onChange($event)"
                      formControlName="messageTemplate"></p-dropdown>
          <p-message *ngIf="dialectMsgTemplate.touched && !dialectMsgTemplate.hasError('required')"
                     severity="success"></p-message>
          <p-message *ngIf="dialectMsgTemplate.touched && dialectMsgTemplate.hasError('required')"
                     severity="error"></p-message>
        </div>
        <small *ngIf="dialectMsgTemplate.touched && dialectMsgTemplate.hasError('required')" class="p-error">Message
          Template
          should be
          fill.</small>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <p-button class="cancel-button" label="Cancel" mat-dialog-close="true"
            styleClass="p-button-sm"></p-button>
  <p-button (onClick)="onCreateTerminalType()" *ngIf="terminalTypeService.buttonDialogStatus == 'create'"
            [disabled]="formGroup.invalid"
            class="create-button" label="Create"
            styleClass="p-button-sm"></p-button>
  <p-button (onClick)="onUpdateTerminalType()" *ngIf="terminalTypeService.buttonDialogStatus == 'edit'"
            [disabled]="disableStatus" class="create-button"
            label="Save"
            styleClass="p-button-sm"></p-button>
</mat-dialog-actions>
