<div class="sidebar-container">
  <div class="sidebar-logo">
    <img class="sidebar-logo-icon" src="assets/logo-tms.png" alt="">
    <span class="sidebar-logo-text">TMS</span>
    <div class="hide-button" (click)="expandSidebar()">
      <span class="hide-button-arrow bx bx-arrow-from-right"></span>
    </div>
  </div>

  <div class="sidebar-menu">
    <ul class="sidebar-menu-list">
      <li class="sidebar-menu-item have-child" routerLink="dashboard">
        <div class="sidebar-item-container tw-w-full">
          <span class="sidebar-item-icon bx bxs-dashboard"></span>
          <span class="sidebar-item-text">Dashboard</span>
        </div>
        <div class="first-submenu-container not-child" id="dashboard-container">
          <ul class="first-submenu-list">
            <li class="first-submenu-item" routerLink="dashboard">
              <span class="first-submenu-item-text">Dashboard</span>
            </li>
          </ul>
        </div>
      </li>
      <li class="sidebar-menu-item have-child">
        <div class="sidebar-item-container tw-w-full">
          <span class="sidebar-item-icon bx bx-search-alt-2"></span>
          <span class="sidebar-item-text">Investigation</span>
          <span class='chevron-icon bx bx-chevron-down' id="chevron-icon-investigation"></span>
        </div>
        <div class="first-submenu-container" id="investigation-container">
          <div class="first-submenu-header">
            <span class="first-submenu-text">Investigation</span>
          </div>
          <ul class="first-submenu-list">
            <li class="first-submenu-item" routerLink="investigation/alert-analysis">
              <span class="first-submenu-item-icon bx bx-error"></span>
              <span class="first-submenu-item-text">Alert Analysis</span>
            </li>
          </ul>
        </div>
      </li>
      <li class="sidebar-menu-item have-child">
        <div class="sidebar-item-container">
          <span class="sidebar-item-icon bx bx-laptop"></span>
          <span class="sidebar-item-text">Acquirer</span>
          <span class='chevron-icon bx bx-chevron-down' id="chevron-icon-acquirer"></span>
        </div>
        <div class="first-submenu-container" id="acquirer-container">
          <div class="first-submenu-header">
            <span class="first-submenu-text">Acquirer</span>
          </div>
          <ul class="first-submenu-list">
            <li class="first-submenu-item" routerLink="acquirer/terminal-list">
              <span class="first-submenu-item-icon bx bx-desktop"></span>
              <span class="first-submenu-item-text">Terminal List</span>
            </li>
            <li class="first-submenu-item" routerLink="acquirer/alert">
              <span class="first-submenu-item-icon bx bx-error"></span>
              <span class="first-submenu-item-text">Alert</span>
            </li>
          </ul>
        </div>
      </li>
      <li class="sidebar-menu-item have-child">
        <div class="sidebar-item-container">
          <span class="sidebar-item-icon bx bxs-credit-card"></span>
          <span class="sidebar-item-text">Issuer</span>
          <span class='chevron-icon bx bx-chevron-down' id="chevron-icon-issuer"></span>
        </div>
        <div class="first-submenu-container" id="issuer-container">
          <div class="first-submenu-header">
            <span class="first-submenu-text">Issuer</span>
          </div>
          <ul class="first-submenu-list">
            <li class="first-submenu-item" routerLink="issuer/terminal-list">
              <span class="first-submenu-item-icon bx bx-desktop"></span>
              <span class="first-submenu-item-text">Terminal List</span>
            </li>
            <li class="first-submenu-item" routerLink="issuer/alert">
              <span class="first-submenu-item-icon bx bx-error"></span>
              <span class="first-submenu-item-text">Alert</span>
            </li>
          </ul>
        </div>
      </li>
      <li class="sidebar-menu-item have-child">
        <div class="sidebar-item-container">
          <span class="sidebar-item-icon bx bx-data"></span>
          <span class="sidebar-item-text ">External Interfaces</span>
          <span class='chevron-icon bx bx-chevron-down' id="chevron-icon-external-int"></span>
        </div>
        <div class="first-submenu-container" id="external-int-container">
          <div class="first-submenu-header">
            <span class="first-submenu-text">External Interfaces</span>
          </div>
          <ul class="first-submenu-list">
            <li class="first-submenu-item have-child">
              <span class="first-submenu-item-icon bx bx-layer"></span>
              <span class="first-submenu-item-text">ISO8583 Configuration</span>
              <span class='chevron-icon bx bx-chevron-down' id="chevron-icon-iso8583-config"></span>
              <div class="second-submenu-container" id="iso8583-container" style="border-bottom-left-radius: 5px;">
                <ul class="second-submenu-list">
                  <li class="second-submenu-item"
                      routerLink="external-interfaces/iso8583-configuration/iso8583-dialect">
                    <span class="second-submenu-item-icon bx bx-code-curly"></span>
                    <span class="second-submenu-item-text">ISO Dialects</span>
                  </li>
                  <li class="second-submenu-item"
                      routerLink="external-interfaces/iso8583-configuration/iso8583Field-Configuration">
                    <span class="second-submenu-item-icon bx bx-code-curly"></span>
                    <span class="second-submenu-item-text">ISO Field Configuration</span>
                  </li>
                  <li class="second-submenu-item"
                      routerLink="external-interfaces/iso8583-configuration/iso8583-ResponseMapping">
                    <span class="second-submenu-item-icon bx bx-code-curly"></span>
                    <span class="second-submenu-item-text">Response Mapping</span>
                  </li>
                </ul>
              </div>
            </li>
            <li class="first-submenu-item" routerLink="external-interfaces/iso20022">
              <span class="first-submenu-item-icon bx bx-layer"></span>
              <span class="first-submenu-item-text">ISO20022</span>
            </li>
            <li class="first-submenu-item" routerLink="external-interfaces/json-configuration">
              <span class="first-submenu-item-icon bx bx-code-curly"></span>
              <span class="first-submenu-item-text">JSON Configuration</span>
            </li>
            <li class="first-submenu-item" routerLink="external-interfaces/NDC">
              <span class="first-submenu-item-icon bx bx-cube"></span>
              <span class="first-submenu-item-text">NDC</span>
            </li>
            <li class="first-submenu-item" routerLink="external-interfaces/xml-configuration">
              <span class="first-submenu-item-icon bx bx-code"></span>
              <span class="first-submenu-item-text">XML Configuration</span>
            </li>
          </ul>
        </div>
      </li>
      <li class="sidebar-menu-item have-child">
        <div class="sidebar-item-container">
          <span class="sidebar-item-icon bx bx-desktop"></span>
          <span class="sidebar-item-text">Channel Configuration</span>
          <span class='chevron-icon bx bx-chevron-down' id="chevron-icon-terminal-config"></span>
        </div>
        <div class="first-submenu-container" id="terminal-config-container">
          <div class="first-submenu-header">
            <span class="first-submenu-text">Channel Configuration</span>
          </div>
          <ul class="first-submenu-list">
            <li class="first-submenu-item" routerLink="terminal-configuration/terminal">
              <span class="first-submenu-item-icon bx bx-server"></span>
              <span class="first-submenu-item-text">Channel</span>
            </li>
            <li class="first-submenu-item" routerLink="terminal-configuration/terminal-type">
              <span class="first-submenu-item-icon bx bx-server"></span>
              <span class="first-submenu-item-text">Channel Type</span>
            </li>
          </ul>
        </div>
      </li>
      <li class="sidebar-menu-item have-child">
        <div class="sidebar-item-container" routerLink="transaction">
          <span class="sidebar-item-icon bx bx-transfer"></span>
          <span class="sidebar-item-text">Transaction</span>
        </div>
        <div class="first-submenu-container not-child" id="transaction-container">
          <ul class="first-submenu-list">
            <li class="first-submenu-item" routerLink="transaction">
              <span class="first-submenu-item-text">Transaction</span>
            </li>
          </ul>
        </div>
      </li>
      <li class="sidebar-menu-item have-child">
        <div class="sidebar-item-container">
          <span class="sidebar-item-icon bx bxs-user-account"></span>
          <span class="sidebar-item-text">User Management</span>
          <span class='chevron-icon bx bx-chevron-down' id="chevron-icon-user"></span>
        </div>
        <div class="first-submenu-container" id="user-container">
          <div class="first-submenu-header">
            <span class="first-submenu-text">User Management</span>
          </div>
          <ul class="first-submenu-list">
            <li class="first-submenu-item" routerLink="user-management/private-scheme">
              <span class="first-submenu-item-icon bx bx-code-alt"></span>
              <span class="first-submenu-item-text">Private Schemes</span>
            </li>
            <li class="first-submenu-item" routerLink="user-management/roles">
              <span class="first-submenu-item-icon bx bx-layer"></span>
              <span class="first-submenu-item-text">Roles</span>
            </li>
            <li class="first-submenu-item" routerLink="user-management/user">
              <span class="first-submenu-item-icon bx bxs-user-rectangle"></span>
              <span class="first-submenu-item-text">Users</span>
            </li>
          </ul>
        </div>
      </li>
      <li class="sidebar-menu-item have-child">
        <div class="sidebar-item-container">
          <span class="sidebar-item-icon bx bx-server"></span>
          <span class="sidebar-item-text">System</span>
          <span class='chevron-icon bx bx-chevron-down' id="chevron-icon-system"></span>
        </div>
        <div class="first-submenu-container" id="system-container">
          <div class="first-submenu-header">
            <span class="first-submenu-text">System</span>
            <div></div>
          </div>
          <ul class="first-submenu-list">
            <li class="first-submenu-item have-child">
              <span class="first-submenu-item-icon bx bx-code-curly"></span>
              <span class="first-submenu-item-text tw-mr-[5px]">Application Parameters</span>
              <span class='chevron-icon bx bx-chevron-down'></span>
              <div class="second-submenu-container" id="app-container" style="border-bottom-left-radius: 5px;">
                <ul class="second-submenu-list">
                  <li class="second-submenu-item" routerLink="system/application-parameters/ARP">
                    <span class="second-submenu-item-icon bx bx-code-curly"></span>
                    <span class="second-submenu-item-text">ARP</span>
                  </li>
                </ul>
              </div>
            </li>
            <li class="first-submenu-item" routerLink="system/system-parameters">
              <span class="first-submenu-item-icon bx bx-code-curly"></span>
              <span class="first-submenu-item-text tw-mr-[5px]">System Parameters</span>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
