.container {
  @apply
    tw-h-full tw-w-full
}

.main-card-container {
  background-color: rgba(229, 231, 235);
  overflow-x: hidden;
  overflow-y: auto;
  @apply
    tw-w-full tw-h-full
}

.main-card-title {
  /*position: fixed;*/
  /*height: 6%;*/
  display: block;
  margin-bottom: 20px;
  padding: 16px 16px 0 16px;
}

.main-card-title-content {
  @apply
   tw-flex tw-flex-nowrap tw-flex-row tw-justify-between tw-items-center
}

.main-card-container-content {
  height: 80%;
  overflow-y: auto;
}

.main-card-content {
  @apply
    tw-mx-[20px] tw-my-0 tw-h-full tw-text-[14px]
}

.field {
  @apply tw-flex tw-flex-col tw-flex-nowrap tw-h-[80px]
}

.field-iso {
  @apply tw-flex tw-flex-col tw-flex-nowrap tw-mb-4
}

.iso8583-field-text {
  @apply tw-pb-[0.7rem]
}

.action-button-group {
  @apply tw-flex tw-justify-end tw-items-center
}

.option-group {
  display: flex;
  justify-content: space-between;
}

.has-child-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.action-button-group {
  margin-top: 10px;
}

.cancel-button {
  margin-right: 10px;
}

.save-button {
  margin-right: 20px;
}

.refresh-button {
  @apply tw-mr-[.5rem]
}

/*Prime Style*/
:host ::ng-deep .dialect > .p-inputtext {
  padding: .5rem !important;
}

:host ::ng-deep .p-dropdown {
  width: 100%;
}

::ng-deep .p-dropdown-filter.p-inputtext {
  padding: 0.2rem !important;
}

::ng-deep .p-dropdown-panel .p-dropdown-header .p-dropdown-filter {
  padding-right: 1.75rem !important;
}

:host ::ng-deep .delete-field-button {
  padding: .5rem .75rem;
  @apply
  tw-mt-[5px]
}

:host ::ng-deep .p-button,
:host ::ng-deep .p-button:enabled:hover {
  box-shadow: none;
  /*background-color: #3f51b5;*/
  /*border-color: #3f51b5;*/
}

/*Angular Material*/
/*MatInput*/
:host ::ng-deep .mat-form-field-flex > .mat-form-field-infix {
  padding: 0.4em 0 !important;
}

:host ::ng-deep .mat-form-field-label-wrapper {
  top: -1.5em;
}

:host ::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  transform: translateY(-1.1em) scale(.75);
  width: 133.33333%;
}

:host ::ng-deep .mat-form-field-subscript-wrapper {
  margin-top: 0.4em;
}

/*Radio Button*/
.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
  margin-top: 5px;
}

/*::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{*/
/*  border-color:rgb(66, 134, 244);*/
/*}*/

/*::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle{*/
/*  color:rgb(66, 134, 244);*/
/*  background-color:rgb(66, 134, 244) ;*/
/*}*/

/*::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {*/
/*  background-color:rgb(255, 37, 37,.26);*/
/*}*/

