<div class="system-parameter-container">
  <div class="button-group">
    <div class="search-container">
      <span class="search-icon bx bx-search"></span>
      <input
        class="search-input"
        type="text" placeholder="Search">
    </div>
    <button mat-flat-button color="primary" class="create-button" (click)="openDialog()">
      <span class="create-icon bx bx-layer-plus"></span>
      <span class="create-text">Create</span>
    </button>
  </div>
  <div class="content">
    <terminal-table></terminal-table>
  </div>
</div>
