<ag-grid-angular
  style="width: 100%; height: 500px"
  class="ag-theme-alpine"
  rowSelection="single"
  enableCellTextSelection
  suppressDragLeaveHidesColumns
  [animateRows]="animateRow"
  [columnDefs]="columnDefs"
  [defaultColDef]="defaultColDef"
  [frameworkComponents]="frameworkComponents"
  [rowHeight]="rowHeight"
  [headerHeight]="headerHeight"
  [loadingOverlayComponent]="overlayLoadingTemplate"

></ag-grid-angular>

<!--(gridReady)="onGridReady($event)"-->
<!--(rowClicked)="onCellClicked($event)"-->
