<h2 mat-dialog-title style="display: flex; align-items: center;justify-content: space-between; font-weight: 600">
  Create Dialect Message Template
  <span class="bx bx-x" mat-dialog-close="true" style="font-size: 2rem; cursor: pointer"></span>
</h2>

<mat-dialog-content>
  <div [formGroup]="form" class="m-0">
    <div class="field">
      <label class="required-icon">Name Type</label>
      <div style="width: 100%">
        <input class="nameType" formControlName="nameType" pInputText type="text">
        <p-message *ngIf="nameType.touched && !nameType.hasError('required')" severity="success"></p-message>
        <p-message *ngIf="nameType.touched && nameType.hasError('required')" severity="error"></p-message>
      </div>
      <small *ngIf="nameType.touched && nameType.hasError('required')" class="p-error">Name Type should be
        fill.</small>
    </div>

    <div class="formgrid grid">
      <div class="field col">
        <label class="required-icon">Description</label>
        <div style="width: 100%">
          <input class="w-10 description" formControlName="description" pInputText type="text">
          <p-message *ngIf="description.touched && !description.hasError('required')" severity="success"></p-message>
          <p-message *ngIf="description.touched && description.hasError('required')" severity="error"></p-message>
        </div>
        <small *ngIf="description.touched && description.hasError('required')" class="p-error">Description should be
          fill.</small>
        <small *ngIf="description.touched && description.hasError('pattern')" class="p-error">Description format is
          invalid.</small>
      </div>
      <div class="field col">
        <label class="required-icon">Message Format</label>
        <div style="width: 100%;">
          <p-dropdown [filter]="true"
                      [options]="msgFormatOptionList"
                      appendTo="body"
                      filterBy="name"
                      placeholder="Select Message Format"
                      optionLabel="name"
                      [showClear]="showClearButton"
                      styleClass="msgFormat"
                      (onChange)="onChange($event)"
                      formControlName="msgFormatId"></p-dropdown>
          <p-message *ngIf="msgFormatId.touched && !msgFormatId.hasError('required')" severity="success"></p-message>
          <p-message *ngIf="msgFormatId.touched && msgFormatId.hasError('required')" severity="error"></p-message>
        </div>
        <small *ngIf="msgFormatId.touched && msgFormatId.hasError('required')" class="p-error">Message Message Format should be fill.</small>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <p-button class="cancel-button"
            label="Cancel"
            mat-dialog-close="true"
            styleClass="p-button-sm"></p-button>
  <p-button (onClick)="onCreateIso8583Dialect()" *ngIf="iso8583DialectService.buttonStatus == 'create'"
            [disabled]="form.invalid"
            class="create-button" label="Create"
            styleClass="p-button-sm"></p-button>
  <p-button (onClick)="onUpdateIso8583Dialect()" *ngIf="iso8583DialectService.buttonStatus == 'edit'"
            [disabled]="disableButton" class="create-button"
            label="Save"
            styleClass="p-button-sm"></p-button>
</mat-dialog-actions>
