/* You can add global styles to this file, and also import other style files */
/*@import "~angular-notifier/styles";*/
/*@import 'tailwindcss/base';*/
/*@import 'tailwindcss/components';*/
/*@import 'tailwindcss/utilities';*/
/*@import "~bootstrap/dist/css/bootstrap.css";*/

@import "~boxicons/css/boxicons.css";
@import "~primeng/resources/primeng.min.css";
@import "~primeng/resources/themes/tailwind-light/theme.css";
@import "~primeicons/primeicons.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~primeflex/primeflex.css";

/*ag-grid-community*/
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-alpine.css";

html:focus-within {
  scroll-behavior: smooth;
}

body {
  display: block;
  margin: 0;
  padding: 0;
  min-height: var(--full-screen-height);
  min-width: var(--full-screen-width);
}

* {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  font-family: var(--font-family);
}

::-webkit-scrollbar {
  width: 5px;
  height: 15px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  border: 1px solid transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: 1px solid #aaa;
  background-color: white;
}

/*ag-grid color*/
.rag-red {
  color: red;
}

/*PrimeNg custom style*/
.custom-toast.p-toast {
  width: 350px;
  z-index: 1500;
}

.custom-toast.p-toast .p-toast-message .p-toast-message-content {
  padding: 10px;
}

.custom-toast.p-toast .p-toast-message.p-toast-message {
  border: none;
}

.custom-toast.p-toast .p-toast-message .p-toast-message-content .p-toast-message-icon {
  font-size: 2rem;
}

.custom-toast.p-toast .p-toast-message .p-toast-icon-close {
  height: 1rem;
  width: 1rem;
}

.custom-toast.p-toast .p-toast-message .p-toast-message-content .p-toast-message-text {
  font-size: 14px;
}

.custom-toast.p-toast .p-toast-message.p-toast-message-error {
  background: #ffaea8;
  border-width: 0 0 0 6px;
  color: #ff1200;
}

.custom-toast.p-toast .p-toast-message.p-toast-message-Error .p-toast-icon-close {
  color: #ff1200;
}

.custom-toast.p-toast .p-toast-message .p-toast-icon-close:hover {
  background: none;
}

.custom-toast.p-toast .p-toast-message .p-toast-icon-close:focus {
  box-shadow: none !important;
}

.required-icon:after {
  content: " *";
  color: red;
}
