<div class="transaction-container">
  <div class="transaction-header">
    <mat-card class="transaction-header-card">
      <div class="transaction-header-content">
        <div class="transaction-content-date-filter">
          <app-date-picker [form]="searchFilterForm"></app-date-picker>
        </div>
        <div class="transaction-field-filter-container" [formGroup]="searchFilterForm">
          <div class="transaction-field-filter">
            <mat-form-field class="transaction-field">
              <mat-label>MTI</mat-label>
              <input class="search-input-field" matInput autocomplete="off" formControlName="MTI">
            </mat-form-field>
            <mat-form-field class="transaction-field">
              <mat-label>HPAN</mat-label>
              <input class="search-input-field" matInput autocomplete="off" formControlName="HPAN">
            </mat-form-field>
            <mat-form-field class="transaction-field">
              <mat-label>Terminal Id</mat-label>
              <input class="search-input-field" matInput autocomplete="off" formControlName="terminalId">
            </mat-form-field>
            <mat-form-field class="transaction-field">
              <mat-label>Merchant Id</mat-label>
              <input class="search-input-field" matInput autocomplete="off" formControlName="merchantId">
            </mat-form-field>
            <mat-form-field class="transaction-field">
              <mat-label>Merchant Type</mat-label>
              <input class="search-input-field" matInput autocomplete="off" formControlName="merchantType">
            </mat-form-field>
            <mat-form-field class="transaction-field">
              <mat-label>Currency Code</mat-label>
              <input class="search-input-field" matInput autocomplete="off" formControlName="currencyCode">
            </mat-form-field>
            <mat-form-field class="transaction-field">
              <mat-label>Amount</mat-label>
              <input class="search-input-field" matInput autocomplete="off" formControlName="amount">
            </mat-form-field>
          </div>

          <div class="transaction-field-filter">
            <mat-form-field class="transaction-field">
              <mat-label>Response Code</mat-label>
              <input class="search-input-field" matInput autocomplete="off" formControlName="responseCode">
            </mat-form-field>
            <mat-form-field class="transaction-field">
              <mat-label>Transaction Id</mat-label>
              <input class="search-input-field" matInput autocomplete="off" formControlName="transactionId">
            </mat-form-field>
            <mat-form-field class="transaction-field">
              <mat-label>Network Id</mat-label>
              <input class="search-input-field" matInput autocomplete="off" formControlName="networkId">
            </mat-form-field>
            <mat-form-field class="transaction-field">
              <mat-label>RRN</mat-label>
              <input class="search-input-field" matInput autocomplete="off" formControlName="RRN">
            </mat-form-field>
            <mat-form-field class="transaction-field">
              <mat-label>Source Account</mat-label>
              <input class="search-input-field" matInput autocomplete="off" formControlName="srcAccount">
            </mat-form-field>
            <mat-form-field class="transaction-field">
              <mat-label>Destination Account</mat-label>
              <input class="search-input-field" matInput autocomplete="off" formControlName="destAccount">
            </mat-form-field>
          </div>
        </div>
        <div class="transaction-expand-button">
          <span class="bx bx-arrow-from-top" (click)="expandButton()"></span>
        </div>
      </div>
    </mat-card>
  </div>

  <div class="transaction-button-group">
    <button class="search-button" mat-raised-button color="primary" (click)="searchButton()">Search</button>
    <button class="clear-button" mat-raised-button color="warn" (click)="clearButton()">Clear</button>
  </div>

  <mat-card class="transaction-table">
    <div class="transaction-table-container" [formGroup]="columnOption">
      <button mat-raised-button color="primary" (click)="onExport()" class="export-button">
        <span class="export-text">Export Data as XLSX</span>
        <span class="export-icon bx bx-export"></span>
      </button>

      <button class="column-button" type="button" mat-raised-button>
        <span class="column-text">Columns</span>
        <span class="column-icon bx bx-collection"></span>
        <mat-select class="transaction-column-option" formControlName="column"
                    (selectionChange)="selectChange($event)" panelClass="transaction-column-option-list" multiple>
          <mat-option *ngFor="let column of transactionTableService.sortColumnList" [value]="column.value">
            {{ column.viewValue }}
          </mat-option>
        </mat-select>
      </button>
    </div>

    <div>
      <transaction-table
        [headerColHeight]="transactionTableService.headerColHeight"
        [paginationSize]="transactionTableService.paginationSize"
        [defaultColDef]="transactionTableService.defaultColDef"
        [columnDefs]="transactionTableService.columnDefs"></transaction-table>

      <div class="page-size-container">
        Page Size:
        <select (change)="onPageSizeChanged()" id="page-size">
          <option value="5" selected="">5</option>
          <option value="10">10</option>
          <option value="15">15</option>
          <option value="20">20</option>
          <option value="25">25</option>
          <option value="50">50</option>
          <option value="100">100</option>
          <option value="500">500</option>
        </select>
      </div>
    </div>

    <div class="additional-data">
      <p-tabView>
        <p-tabPanel header="Transaction Summary" headerStyleClass="transaction-summary">
          <div class="transaction-summary-content-data">
            <div class="transaction-summary-content-data-left">
              <div class="transaction-summary-content-data-container">
                <span class="transaction-summary-content-data-text">Transaction Date</span>
                <input class="transaction-summary-content-data-input" type="text"
                       [value]="this.transactionTableService.additionalData?.transactionDate" readonly>
              </div>
              <div class="transaction-summary-content-data-container">
                <span class="transaction-summary-content-data-text">Network Date</span>
                <input
                  class="transaction-summary-content-data-input"
                  type="text" [value]="this.transactionTableService.additionalData?.networkDate" readonly>
              </div>
              <div class="transaction-summary-content-data-container">
                <span class="transaction-summary-content-data-text">Transaction Id</span>
                <input
                  class="transaction-summary-content-data-input"
                  type="text" [value]="this.transactionTableService.additionalData?.transactionId" readonly>
              </div>
              <div class="transaction-summary-content-data-container">
                <span class="transaction-summary-content-data-text">Network Id</span>
                <input
                  class="transaction-summary-content-data-input"
                  type="text" [value]="this.transactionTableService.additionalData?.networkId" readonly>
              </div>
              <div class="transaction-summary-content-data-container">
                <span class="transaction-summary-content-data-text">RRN</span>
                <input
                  class="transaction-summary-content-data-input"
                  type="text" [value]="this.transactionTableService.additionalData?.RRN" readonly>
              </div>
              <div class="transaction-summary-content-data-container">
                <span class="transaction-summary-content-data-text">Amount</span>
                <input
                  class="transaction-summary-content-data-input"
                  type="text" [value]="this.transactionTableService.additionalData?.amount" readonly>
              </div>
              <div class="transaction-summary-content-data-container">
                <span class="transaction-summary-content-data-text">Currency Code</span>
                <input
                  class="transaction-summary-content-data-input"
                  type="text" [value]="this.transactionTableService.additionalData?.currencyCode" readonly>
              </div>
              <div class="transaction-summary-content-data-container">
                <span class="transaction-summary-content-data-text">Transaction Type</span>
                <input
                  class="transaction-summary-content-data-input"
                  type="text" [value]="this.transactionTableService.additionalData?.transType" readonly>
              </div>
              <div class="transaction-summary-content-data-container">
                <span class="transaction-summary-content-data-text">Protocol</span>
                <input
                  class="transaction-summary-content-data-input"
                  type="text" value="" readonly>
              </div>
            </div>
            <div class="transaction-summary-content-data-right">
              <div class="transaction-summary-content-data-container">
                <span class="transaction-summary-content-data-text">Transaction Date</span>
                <input
                  class="transaction-summary-content-data-input"
                  type="text" value="" readonly>
              </div>
              <div class="transaction-summary-content-data-container">
                <span class="transaction-summary-content-data-text">Transaction Date</span>
                <input
                  class="transaction-summary-content-data-input"
                  type="text" value="" readonly>
              </div>
              <div class="transaction-summary-content-data-container">
                <span class="transaction-summary-content-data-text">Transaction Date</span>
                <input
                  class="transaction-summary-content-data-input"
                  type="text" value="" readonly>
              </div>
              <div class="transaction-summary-content-data-container">
                <span class="transaction-summary-content-data-text">Transaction Date</span>
                <input
                  class="transaction-summary-content-data-input"
                  type="text" value="" readonly>
              </div>
              <div class="transaction-summary-content-data-container">
                <span class="transaction-summary-content-data-text">Transaction Date</span>
                <input
                  class="transaction-summary-content-data-input"
                  type="text" value="" readonly>
              </div>
              <div class="transaction-summary-content-data-container">
                <span class="transaction-summary-content-data-text">Transaction Date</span>
                <input
                  class="transaction-summary-content-data-input"
                  type="text" value="" readonly>
              </div>
              <div class="transaction-summary-content-data-container">
                <span class="transaction-summary-content-data-text">Transaction Date</span>
                <input
                  class="transaction-summary-content-data-input"
                  type="text" value="" readonly>
              </div>
              <div class="transaction-summary-content-data-container">
                <span class="transaction-summary-content-data-text">Transaction Date</span>
                <input
                  class="transaction-summary-content-data-input"
                  type="text" value="" readonly>
              </div>
              <div class="transaction-summary-content-data-container">
                <span class="transaction-summary-content-data-text">Transaction Date</span>
                <input
                  class="transaction-summary-content-data-input"
                  type="text" value="" readonly>
              </div>
            </div>
          </div>
        </p-tabPanel>
        <p-tabPanel header="Header 2" headerStyleClass="transaction-summary">
          Content 2
        </p-tabPanel>
        <p-tabPanel header="Header 3" headerStyleClass="transaction-summary">
          Content 3
        </p-tabPanel>
      </p-tabView>
    </div>
  </mat-card>
</div>
